#landingPage {
  text-align: center;
  height: 70vh;
  .headings {
    margin-top: 20rem;
    font-family: "Playfair Display", serif;
    h1 {
      padding: 0;
      margin: 0;
      font-size: 5rem;
      color: #e1cdb5;
    }
    h6 {
      font-size: 1.1rem;
      color: #fff;
    }
  }
}

@media screen and (min-width: 48em) {
  #landingPage .headings {
    margin-top: 23em;
  }
}
